@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;

  .textContainer {
    flex: 1;
    align-self: flex-end;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      color: gray;
    }

    hr {
      width: 500px;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        border-radius: 50px;

        @include mobile {
        }
      }

      button {
        border-radius: 50px;
        background-color: orange;
        font-size: 24px;

        @include mobile {
          font-size: 16px;
        }
      }
    }
  }
  .listContainer {
    max-width: 1366px;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      border: 0.5px solid gray;

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      p {
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
